.slimScrollRail {
	width: 10px !important;
	background: rgba(224, 246, 11, 0.8) none repeat scroll 0% 0% !important;
}

.slimScrollBar {
	width: 10px !important;
	background: rgba(224, 246, 11, 0.8) none repeat scroll 0% 0% !important;
}